{% extends "main/base.html" %}
{% block title %}
<h1>Home Page</h1>
{% endblock %}
{% block content %}
{% for post in post_list %}
<div class="card mt-2">
    <div class="card-header">
        <strong>@{{ post.author.username }}</strong>
    </div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title">{{post.title}}</h5>
            {% if user.is_authenticated %}
            <p>{{post.description}}</p>
            {% endif %}
            {% if user == post.author %}
            <a href="/post_detail/{{post.id}}">Details</a>
            <a href="/post_update/{{post.id}}">Update</a>
            {% endif %}
        </div>
        <div>
            {% if user == post.author %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="post-id" value="{{post.id}}">Delete Post</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">
        Created: {{post.created_at}}
    </div>
</div>
{% empty %}
<h1>There are no posts, lets log in and create one</h1>
{% endfor %}
{% endblock %}